.Nav {
  border-top: 1px solid #d0d7de;
  border-bottom: 1px solid #d0d7de;
  background-color: #f6f8fa;
  height: 80px;
  display: flex;
  justify-content: space-around;
  padding: 2px;
}

.NavLink {
  color: burlywood;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.NavLinkActive {
  color: chocolate;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
